* {
    margin: 0;
    padding: 0;
}   

/* ------------------Fond d'écran------------------ */
body{
    background-color: black;
}

/* ------------------Polices d'écriture------------------ */
.txt1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 14%;
    color: white
}

.txt2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 5%;
    color: white
}

.txt3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 35%;
    color: white
}

/* ------------------Structure------------------ */
.Fond {
    text-align: center;
    width: 100%;
}

.Logo {
    margin-left: 35%;
    margin-top: -35%;
    width: 30%;
}

.Start {
    margin-left: 40%;
    margin-top: -20%;
    width: 20%;
}

.Faucheur {
    margin-left: -60%;
    margin-top: 18%;
    width: 20%;
}

.Jason {
    margin-left: -80%;
    margin-top: 8%;
    width: 20%;
}

.Citrouille {
    margin-left: 43%;
    margin-top: -25%;
    width: 20%;
}

/* ------------------Reponse------------------ */
.Reponse {
    display: flex;
    justify-content: center;
    margin-top: -10%;
    margin-left: 22%;
    margin-right: 22%;
}

.Rep {
    display: flex;
    justify-content: center;
    margin-top: -20%;
    margin-right: 2%;
    margin-left: 2%;
    font-size: 24px;
    color: white
}

.P1 {
    width: 100%;
}

.P2 {
    width: 100%;
}

.P3 {
    width: 100%;
}

/* ------------------Adaptation------------------ */
@media screen and (max-width: 1170px) {
    .txt1 {
        font-size: 150%;
    }
    .txt2 {
        font-size: 150%;
    }
    .txt3 {
        font-size: 150%;
    }
    .Rep {
        font-size: 20px;
    }
}

@media screen and (max-width: 1000px) {
    .txt1 {
        font-size: 100%;
    }
    .txt2 {
        font-size: 100%;
    }
    .txt3 {
        font-size: 100%;
    }
    .Rep {
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {
    .txt1 {
        font-size: 60%;
    }
    .txt2 {
        font-size: 60%;
    }
    .txt3 {
        font-size: 60%;
    }
    .Rep {
        font-size: 9px;
    }
}

@media screen and (max-width: 350px) {
    .txt1 {
        font-size: 35%;
    }
    .txt2 {
        font-size: 35%;
    }
    .txt3 {
        font-size: 35%;
    }
    .Rep {
        font-size: 8px;
    }
}